.topbartype{
    display:flex;
    justify-content: space-between;
    border:1px solid red;
    height:20px;
}
.topbartype>li{
    line-height:20px;
}
ul,li{
    list-style: none;
}
dd,dt{
    display:inline-block;
    margin-left:20px;
}
dd{
    cursor: pointer;
    padding:1px 4px;
    border-radius: 4px;
}
dd:hover{
    background:#fd113a;
    color:#fff;
}
dd.active{
    background:#fd113a;
    color:#fff;
}
.item-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:100%;
}
.manhua-item{
    width:167px;
    
}
.manhua-item img{
    width:100%;
}
.manhua-item a:hover{
    color:rgb(255, 191, 108)
}

@media (min-width: 992px) and (max-width: 1200px){
    body {
        width: 1168px;
    }
    #tf-home{
        width: 1168px;
    }
    .container {
        width: 1168px;
    }
    .overlay{
        width: 1168px;
    }
}
#footer{
    width:100%;
}